<div class="ui fluid container center aligned attached segment" id="searchContainer">
  <div class="ui container center aligned" id="innerSearchContainer">
    <!--<form id="search"> -->
      <div class="ui action huge input fluid field">
          <!-- {{> esInput index="slang" placeholder="Leitaðu að hvaða slangri sem er, Sjomli!" convertnumber=true }} -->
           <input type="text" placeholder="Leitaðu að hvaða slangri sem er, Sjomli!" ng-model="searchQuery" class="searchInput" name="searchString"> 
           <button class="ui button" ng-click="searchFor(searchQuery)">Search</button>
          <!--{{> EasySearch.Input index=slangIndex }} -->
          <!--{{> esInput index="players" id="search" placeholder="Search players..." convertnumber=true }} -->
      </div>
   <!-- </form> -->
  </div>
</div>